body {
	background-color: #EDF9FC;
	overflow-y: hidden;
	tab-size: 4;
	-o-tab-size: 4;
	-moz-tab-size: 4;
}

pre {
	font-family: sans-serif;
	font-size: 14px;
	display: inline-block;
	white-space: pre;
	margin: 0;
	padding: initial;
	line-height: initial;
	color: initial;
	background-color: initial;
	border: initial;
	overflow: initial;
	word-break: initial;
	word-wrap: initial;
	border-radius: initial;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;    
}

.login-wrapper {
	max-width: 600px;
}

.error-message {
	color: red;
}

#sidebar {
	height: 100%;
}

#mainbar {
	background-color: white;
	padding: 0;
}

#messages{
	overflow-y: scroll;
	background-color: white;
}

#message-text-field {
	width: 100%;
	border-top: 1px solid black;
}

#chat-top{
	background-color: green;
	width: 100%;
	position: absolute;
	height: 10%;
}

#chat-bottom{
	background-color: red;
	width: 100%;
	position: absolute;
	height: 90%;
	top: 10%;
}

/* Message styling */

.message{
	margin-left: auto;
	margin-right: auto;	
	max-width: 800px;
	margin-bottom: 10px;
	padding: 2px;
}

.message-author{
	color: blue;
	float: left;
}

.message-timestamp{
	float: right;
	color: #ADADAD;
}

.message-image{
	float: left;
	width: 10%;
	padding: 3px;
}

.message-image img{
	width: 100%;
}

.message-data{
	float: left;
	width: 90%;
	padding-left: 10px;
}

.clear{
	clear: both;
}