body {
	background-color: #EDF9FC;
	overflow-y: hidden;
	tab-size: 4;
	-o-tab-size: 4;
	-moz-tab-size: 4;
}

pre {
	font-family: sans-serif;
	font-size: 14px;
	display: inline-block;
	white-space: pre;
	margin: 0;
	padding: 0;
	line-height: initial;
	color: initial;
	background-color: transparent;
	border: transparent;
	overflow: initial;
	word-break: initial;
	word-wrap: initial;
	border-radius: initial;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
}

a, a:active, a:focus {
   outline: 0;
}

.login-wrapper {
	max-width: 600px;
}

.error-message {
	color: red;
}

#sidebar {
	padding: 10px;
	padding-right: 0;
	overflow-y: auto;
}

#mainbar {
	background-color: white;
	padding: 0;
	height: 100%;
	position: relative;
}

#write-message {
	overflow-y: auto;
	height: 151px;
	border-top: 1px solid #428BCA;
}

#message-text-field {
	width: 100%;
	min-height: 150px;
	padding: 3px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	white-space: pre-wrap;
	outline: 0px solid transparent;
}

#chat-top{
	width: 100%;
	background-color: #428BCA;
	color: white;
	padding: 10px;
	padding-right: 0;
	overflow: hidden;
}

#chat-bottom{
	width: 100%;
}

#chat-menu{
	display: none;
	position: absolute;
	z-index: 2;
	background-color: #EDF9FC;
	width: 100%;
	border-bottom: 2px solid #428BCA;
}

/* Toolbar */

#whoistyping{
	float: left;
}

#right-toolbar{
	float: right;
}

.toolbar-item{
	cursor: pointer;
}

/* Message styling */

.message{
	margin-bottom: 10px;
	padding: 2px;
	width: 100%;
}

.message-author{
	color: #428BCA;
	margin-bottom: 2px;
}

.message-text{
	overflow: hidden;
	padding-left: 10px;
}

.message-timestamp{
	float: right;
	color: #ADADAD;
}

.message-image{
	float: left;    
	width: 45px;
	height: 45px;
	padding: 3px;
}

.message-image img{
	width: 100%;
	height: 100%;
}

.message-content{
	word-wrap: break-word;    
	overflow-wrap: break-word;
	width: 100%;	
}

/* Message elements */

.quote{
	margin-bottom: 2px;
	padding: 3px;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid transparent;
	background-color: white;
}

.quote-content{
	background-image: url("../res/images/misc/leftquote.png"), url("../res/images/misc/rightquote.png");
	background-position: left top, right top;
	background-repeat: no-repeat;
	display: inline-block;
	padding-left: 14px;
	padding-right: 14px;
	max-width: 100%;
}

.quote-signature{
	padding-left: 14px;
}

.quote-selected{
	border: 1px solid black;	
}

.after-quote{
	min-width: 1px;
	min-height: 1px;
	outline: 0px solid transparent;
}

.before-quote{
	min-width: 1px;
	min-height: 1px;
	outline: 0px solid transparent;
}

.quote-signature{
	font-size: 90%;
	color: #0286B3;
	padding-top: 5px;
}

.unselectable{
	user-select: none;
	moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
} 

/* Top bar */

#top-left{
	float: left;
}

#top-right{
	float: right;
	padding-top: 3px;
}

#chat-image{
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 20px;
	border: 2px solid white;
	cursor: pointer;
}

#top-header{
	float: left;
}

#chat-name{
	font-size: 40px;
	line-height: 46px;
	padding: 5px;
}

#chat-topic{
	font-size: 30px;
	line-height: 35px;
	padding: 5px;
	height: 45px;
	float: left;
}

.chat-small-title{
	font-size: 20px;
	margin: 0;
	float: left;
	line-height: 30px;
}

#chat-small-colon{
	font-size: 20px;
	float: left;
	margin-right: 6px;
}


.top-link-wrapper{
	float: left;
	margin-right: 20px;
}

.top-link-wrapper a{
	padding: 10px 15px;
	display: block;
	border-radius: 25px;
}

.top-link{
	text-align: center;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}

.top-link a{
	color: white;
	text-decoration: none;
}

.menu-link.active-tab-button{
	background: white;
	border-top: 1px solid #428BCA;
	border-bottom: 1px solid #428BCA;
}

.top-link-wrapper:hover a,
.top-link a:focus,
.active-tab-button a{
	background: white;
	color: #428BCA;
}

.top-link :hover{
	text-decoration: none;
}

.top-glyph{
    font-size: 50px;
	margin-bottom: 5px;
	display: block;
}

.menu-link{
	display: block;
	padding: 10px;
	padding-left: 10px;
	font-size: 20px;
	text-decoration: none !important;
}

#chat-small-menu{
	font-size: 20px;
	float: right;
	margin-right: 10px;
	margin-top: 2px;
	cursor: pointer;
}

/* Userboxes */

.userbox{
	margin-bottom: 10px;
}

.userbox-username{
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.userbox-image{
	float: left;
	width: 80px;
	height: 80px;
	padding: 3px;
}

.userbox-my-image{
	cursor: pointer;
}

.userbox-image img{
	width: 100%;
	height: 100%;
}

.userbox-data{
	float: left;
	width: 200px;
	height: 90px;
	padding-left: 10px;
}

.userbox-statusmessage {
	color: #ADADAD;
	width: 200px;
	height: 60px;
	overflow: hidden;
}

.status-circle {
	border-radius: 0.6em;
	-moz-border-radius: 0.6em;
	-webkit-border-radius: 0.6em;
	color: #fff;
	display: inline-block;
	font-weight: bold;
	line-height: 14px;
	text-align: center;
	width: 14px;
	height: 14px;
	margin-right: 5px; 
	margin-bottom: -2px;
}

.status-circled-background {
	border-radius: 0.8em;
	-moz-border-radius: 0.8em;
	-webkit-border-radius: 0.8em;
	color: #fff;
	display: inline-block;
	font-weight: bold;
	text-align: center;
	padding: 5px;
	font-size: 12px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.status-available {
	background-color: green;
}

.status-offline {
	background-color: #DFE6E8;
}

.status-away {
	background-color: #FCA212;
}

.status-occupied {
	background-color: #F22222;
}

/* Notifications */

#notifications{
	position: absolute;
	z-index: 1;	
	width: 100%;
}

.notification{
	padding: 10px;
	font-weight: bold;
	display: none;
}

.notification-error{
	color: white;
	background-color: #FA4646;
}

.notification-success{
	color: white;
	background-color: #2AC902;
}

/* File upload */

.dragover{
	background-color: #F5F5F5;
}

/* Tabs */

#tabs {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#tabs > div {
	overflow-y: auto;
}

#tab-chat{
	position: absolute;
	visibility: hidden;
}

#tab-chat.active-tab {
	position: static;
	visibility: visible;
}

#tabs  > div:not(.active-tab):not(#tab-chat) {
	display: none;
}

.tab-header {
	border-bottom: 1px solid #428BCA;
	margin-bottom: 15px;
	padding-bottom: 5px;
}

/* Forms */

.dropdown-form-group {
	line-height: 35px;
}

.button {
	background-color: #428BCA;
	color: white;
}

.button:hover {
	background-color: #286090;
	color: white;
}

.edit-value{
	color: black;
	border: 0;
	line-height: 0;
	min-width: 10px;
}

.settings-form .control-label {
	text-align: left;
}

.settings-form {
	padding: 5px;
}

/* Search */

#search{
	position: absolute;
	z-index: 2;	
	width: 100%;
	display: none;
	background-color: #EDF9FC;
	padding: 5px;
}

#search-group{
	width: 30%;
}

/* Splashscreen */

#splashscreen {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #EDF9FC;
	z-index: 1;
}

#splashscreen .loading-message {
	position: absolute;
	width: 100%;
	font-size: 34px;
	text-align: center;
	top: 50%;
	height: 100px;
	margin-top: -200px;
}

#splashscreen .progress {
	width: 50%;
	height: 35px;
	margin: 0 auto;
	margin-top: 10px;
}

/* General */

.invisible{
	display: none;
}

.clear{
	clear: both;
}